@import url('https://fonts.cdnfonts.com/css/dunkin');
@import url('https://fonts.googleapis.com/css2?family=Proxima+Nova:wght@400;700&family=Montserrat:wght@400;700&display=swap');
/* font-family: 'Dunkin', sans-serif; || font-family: 'Dunkin Sans', sans-serif; */
/* font-family: 'Proxima Nova', 'Montserrat', sans-serif; */
:root{
    --primary: #C63663;
    --secondary: #EF6A00;
    --dark: #3E342F;
    --light: #F6F5F3;
}
.font-dunkin{
    font-family: 'Dunkin Sans', sans-serif;
    font-weight: 700;
}


*{
    font-family: 'Proxima Nova', 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
}
body{
    padding: 0;
    margin: 0;
    background-color: var(--light) !important;
    width: 100%;
}
.container{
    margin: 0 auto;
    max-width: 1440px;
    background-color: white !important;
    outline: 1px solid #b3b3b3;
}
a:visited{
    color: var(--dark);
}
a{
    text-decoration: none;
}
li{
    list-style-type: none;
    text-decoration: none;
}
.links{
    font-size: 1.28rem;
    line-height: 1;
    text-align: center;
    margin: 0;
    transition: all 250ms ease-in-out;
}
header ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li{
    padding: 24px 30px;
    text-decoration: none;
    width: calc(100% - 350px / 6);
}
header ul li a img{
    padding: 0 20%;
}
header ul li a:hover .links{
    color: var(--primary);
    transition: all 250ms ease-in-out;
    outline: 0;
}
.links:hover:after {
    content: '';
    width: 100%;
    height: 2px;
    background-color: #e8afc1;
    display: block;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    transition: all 250ms ease-in-out;
}