@import url('https://fonts.cdnfonts.com/css/dunkin');
@import url('https://fonts.googleapis.com/css2?family=Proxima+Nova:wght@400;700&family=Montserrat:wght@400;700&display=swap');
/* font-family: 'Dunkin', sans-serif; || font-family: 'Dunkin Sans', sans-serif; */
/* font-family: 'Proxima Nova', 'Montserrat', sans-serif; */
:root{
    --primary: #C63663;
    --secondary: #EF6A00;
    --third: #8B1E45;
    --dark: #3E342F;
    --light: #F6F5F3;
}
.text-primary{
    color: var(--primary);
}
.text-secondary{
    color: var(--secondary);
}
.text-third{
    color: var(--third);
}
.text-dark{
    color: var(--dark);
}
.text-center{
    text-align: center;
}
.lh-4-rem{
    line-height: 4rem;
}
.font-50{
    font-size: 50px !important;
    word-spacing: -20px;
}
.font-60{
    font-size: 60px !important;
    word-spacing: -20px;
}
.font-dunkin{
    font-family: 'Dunkin Sans', sans-serif !important;
    font-weight: 700;
}
.font-proxima{
    font-family: Proxima Nova, Montserrat, sans-serif;
}
.font-bold{
    font-weight: bold;
}
.text-white{
    color: white;
}
.hr-80{
    width: 80%;
    margin: 0 auto !important;
}

.container2{
    margin: 0 auto;
    max-width: 1440px;
    background-color: white !important;
    border-left: 0.5px solid #b3b3b3;
    border-right: 0.5px solid #b3b3b3;
}

.small-nav{
    display: flex;
    height: 40px;
    background-color: #fff;
    align-items: center;
    position: relative;
    border: 0;
    justify-content: space-evenly;
}

.small-nav a img{
    padding: 0 2rem;
    justify-content: center;
    padding-top: 20px;
}

.main-content{
    display: flex;
    width: 100%;
}

.content{
    justify-content: center;
    align-items: center;
    order: 0;
    margin: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 0;
    border-left: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: flex;
    z-index: 1;
    position: absolute;
    width: 80%;
    height: 15%;
}

h1{
    font-size: 35px;
    line-height: 35px;
    padding: 0 22% 15px 22%;
    text-align: center;
    margin-top: 90px;
}

h1{
    color: #EF6A00 !important;
    text-shadow: none !important;
}

.second{
    color: #c63663 !important;
    text-shadow: none !important;
}

.mark{
    position: relative;
    font-size: 5px;
}

.join{
    font-size: 50px;
    line-height: 80px;
    color: #3E342F;
}

.block-container{
    margin: 0 auto;
    padding: 5.5rem 5.5rem;
    max-width: 550px;
    display: flex;
    justify-content: center;
    padding-bottom: 2.5rem;
}

button{
    width: 70%;
    height: 50px;
    border: 2px solid #747474;
    border-radius: 30px;
    background-color: white;
    color: #3e342f;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: ProximaNova,"Montserrat",sans-serif;
    font-weight: normal;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

button span{
    position: relative;
    top: 2px;
}

button img{
    margin-right: 20px;
}

.divider{
    clear: both;
    display: block;
    min-height: 1rem;
    text-align: center;
}

.or{
    margin: 0 auto;
    position: relative;
    width: 26%;
    margin-bottom: 20px;
}

.or::before{
    border-bottom: 1px solid #b3b3b3;
    content: '';
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
    z-index: 9;
}

.divider-text{
    background-color: #fff;
    color: #3e342f;
    display: inline-block;
    font-size: 1.15rem;
    line-height: 1.25;
    margin: 0 auto;
    max-width: 50%;
    padding: 1rem;
    position: relative;
    width: auto;
    z-index: 10;
}

.grid-items{
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
    width: 100%;
    position: relative;
    margin-left: 550px;
    justify-content: center;
    margin-bottom: 30px;
}

.grid-items input{
    border: 1px solid #747474;
    border-radius: 4px;
    box-sizing: border-box;
    color: #3e342f;
    display: flex;
    font-size: 1.15rem;
    line-height: 1;
    min-height: 54px;
    width: 24%;
    max-width: 100%;
    outline: 0;
    padding: 13px 16px .25rem;
    transition: all 200ms ease-in-out;
}


ul p span{
    display: inline-block;
    position: relative;
    width: 14px;
    height: 14px;
    background-color: #c8102e;
    border-radius: 50%;
    margin-right: 5px;
}

ul p span::before{
    background-color: white;
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 2px;
    width: 6px;
    -webkit-transform-origin: center;
    transform-origin: center;
    transform: translate(-50%,-50%) rotate(45deg);
}

ul p span::after{
    background-color: white;
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 2px;
    width: 6px;
    -webkit-transform-origin: center;
    transform-origin: center;
    transform: translate(-50%,-50%) rotate(-45deg);
}

.grid-items p{
    position: relative;
    top: -7px;
    font-size: 14px;
    display: flex;
    align-items: center;
}

form{
    display: flex;
}

select {
    width: 13%;
    padding: 16px 20px;
    border: 1px solid #747474;
    border-radius: 4px;
    background-color: #f1f1f1;
    margin-left: 550px;
    font-size: 1.15rem;
    color: #3e342f;
    margin-bottom: 50px;
  }

form .day{
    margin-left: 15px;
    width: 10%;
}

.promo{
    margin-bottom: 50px;
}

.promo a{
    margin-left: 550px;
    text-decoration: underline;
    font-size: 1.28rem;
    font-family: ProximaNova,"Montserrat",sans-serif;
    line-height: 1.33;
    color: #3E342F;
    font-weight: 600;
    margin-bottom: 30px;
}

.last p{
    color: #747474;
    margin-left: 550px;
    margin-bottom: 20px;
}


p a{
    text-decoration: underline;
    color: #3E342F;
    font-weight: 700;
    margin-bottom: 20px;
}

.last-input{
    margin-left: 520px;
    cursor: pointer;
    margin-top: 20px;
}

.last-input input{
    background-color: #c63663;
    border-radius: 50px;
    border: 0;
    box-sizing: border-box;
    color: #ffffff;
    display: inline-block;
    font-size: 1.15rem;
    font-weight: bold;
    line-height: 1;
    height: auto;
    margin: .5rem auto;
    min-height: 45px;
    min-width: 200px;
    padding: 13px;
    text-align: center;
    text-transform: uppercase;
    width: 50%;
    cursor: pointer;
    font-family: DunkinSansBook,"Montserrat",sans-serif;
    font-weight: 800;
    transition: all 250ms ease-in-out;
    margin-top: 30px;
}

.authorbale{
    position: relative;
}

.authorbale p{
    line-height: 1.3;
    margin: 0 0 1rem 0;
}

footer{
    margin-left: 650px;
    padding: 2rem 0;
    background-color: #fff;
    position: relative;
}

nav ul li{
    display: flex;
}
